@font-face {
	font-family: 'GmarketSansL';
	src: url('../font/GmarketSansTTFLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansM';
	src: url('../font/GmarketSansTTFMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansB';
	src: url('../font/GmarketSansTTFBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
.LLogin img{
  width: 40%
}


html, body{
  margin: 0;
  padding: 0;
}
.wrap{
	width: 1200px;
	margin: 0 auto;
}
.login_sec{
	background-color: #f2f2f2;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	float: left;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	background-image: url(../image/bgbgbg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.RLogin{
	position: relative;
	width: 350px;
	min-height: 478px;
	padding: 0px 40px 22px 40px;
	background: #ffffff;
	box-shadow: 0 10px 20px 0 rgb(0 0 0 / 20%);
	box-sizing: border-box;
	border-radius: 10px;
	padding: 40px;
	float: right;
}
/* .positionBar{
	position: absolute;
	top:0;
	left:0px;
	width: 100%;
	height: 10px;
	border-radius: 10px 10px 0 0;
} */
.LoginTitle{
	display: block;
	line-height: 32px;
	font-size: 22px;
	color: #222;
	margin-top:20px;
	width: 100%;
	position: relative;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
  font-family: 'GmarketSansB';
}
.loginText{
	font-size: 18px;
    color: #414b55;
    line-height: 28px;
    margin: 22px 0;
		display: flex;
		align-items: center
}

.loginText input{
	font-size: 18px;
  color: #414b55;
	border:0;
}
.login_input{
	overflow: hidden;

	width: 100%;
	line-height: 24px;
	font-size: 15px;
	outline: 0;
	border: 0;
	padding: 12px 0px 14px 0px;
	margin-right: 12px;
	border-bottom:1px solid #e1e1e1;
}

.RLogin button{
	height: 72px;
	width: 72px;
	position: absolute;
	bottom: 35px;
	right: 35px;
	background-color: #fff;
	border: 0;
	border-radius: 50%;
	outline: none;
	cursor:pointer;
	transition-duration: 0.5s;
}
.RLogin:hover button{
	height: 72px;
	width: 72px;
	position: absolute;
	bottom: 35px;
	right: -35px;
	background-color: #222;
	border: 0;
	border-radius: 50%;
	outline: none;
	cursor:pointer;
	transition-duration: 0.5s;
}
.RLogin button i{
	color:#222;
	font-size:40px;
	transition-duration: 0.5s;
}

.RLogin:hover button i{
	color:#fff;
	font-size:40px;
	transition-duration: 0.5s;
}


@-webkit-keyframes shakeIt{
 0%{
	transform: translate(0px, 0px);
	}
	25% {
	transform: translate(5px, 0px);
	}
	50% {
		transform: translate(-5px, 0px);
	}
	75% {
		transform: translate(5px, 0px);
	}
	100% {
		transform: translate(-5px, 0px);
	}
}

.yap{
	animation-name: shakeIt;
	animation-duration: 0.2s;
	animation-iteration-count: 3;
	animation-timing-function: ease;
}
