@font-face {
	font-family: 'GmarketSansL';
	src: url('../font/GmarketSansTTFLight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansM';
	src: url('../font/GmarketSansTTFMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GmarketSansB';
	src: url('../font/GmarketSansTTFBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
 font-family: 'Noto Sans KR';
 font-style: normal;
 font-weight: 100;
 src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),
		 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),
		 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
 font-family: 'Noto Sans KR';
 font-style: normal;
 font-weight: 300;
 src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),
		 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),
		 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
 font-family: 'Noto Sans KR';
 font-style: normal;
 font-weight: 400;
 src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),
			 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),
			 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
 font-family: 'Noto Sans KR';
 font-style: normal;
 font-weight: 500;
 src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),
			 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),
			 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
 font-family: 'Noto Sans KR';
 font-style: normal;
 font-weight: 700;
 src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),
			 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),
			 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
 font-family: 'Noto Sans KR';
 font-style: normal;
 font-weight: 900;
 src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),
			 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),
			 url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}
html, body{
	font-family: 'Noto Sans KR';
}

.titleNav{
  font-size:34px;
  font-family: 'GmarketSansB';
  margin:55px 0 24px;
}
.center{
	text-align: center !important;
}
.right{
	text-align: right !important;
}
.left{
	text-align: left !important;
}

.leftTxt{
	text-align: left !important;
	padding: 0 10px !important;
	line-height: 20px !important;
}

input[type="button"],button{
	cursor:pointer;
}
.AddBtn button{
	width: 120px;
	height: 30px;
	border: 1px solid #ccc;
}

.articleTitle{
	font-size: 25px;
	border-bottom:1px solid #e1e1e1;
	padding:30px 0 10px;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
}

.ArticleTitle{
	text-align: center;
	height: 30px;
	background-color: #f2f2f2;
	box-shadow: inset 1px 1px 0px 0px #fff;
	float: left;
	width: 160px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 15px;
	margin-top: 10px;
	border: 1px solid #e1e1e1;
	font-size: 14px;
}
.ArticleContent{
	float: right;
	margin-top:10px;
	font-size: 12px;
	padding: 1px;
	margin-left: 0px;
	margin-right: 5px;
	float: left;
	display: inline-block;
	margin-left:10px;
}
.ArticleContent input{
	width: 300px;
	height: 30px;
	border: 1px solid #e1e1e1;
}
.ArticleContent input:focus{
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.Big input{
	width: 777px;
}
.small input{
	width: 141px;
}
.disF{
	display: flex;
	align-items: center;
}

.table{
	height: 300px;
	overflow-y:scroll;
	overflow-x:scroll;
	border:1px solid #ccc;
	margin:10px 0;
	background-color:#f2f2f2;
}
.table table{
	table-layout: fixed;
	border-collapse: separate;
  border-spacing: 0;
  border: 0 none;
  width: 100%;
  background-color: #f2f2f2;
	border-bottom:1px solid #e1e1e1;
}
.table table tr{
	background-color:#d7d7d7;
}

.table table th{
	position: relative;
	overflow: hidden;
	background-color: #fff;
	background-image: -webkit-linear-gradient(top, #fff,#F0F0F0);
	background-image: linear-gradient(to bottom,#fff,#F0F0F0);
	border: 0px none;
	border-bottom: 1px solid #ccc;
	color: #222;
	text-align: center;
	padding:10px 0;
	border-right: 1px solid #ccc;
	vertical-align: middle;
	font-size: 14px;
}

.table table td{
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border: 0px none;
	border-bottom: 1px solid #ccc;
	color: #222;
	text-align: center;
	padding:10px 0;
	font-size: 14px;
	border-right: 1px solid #ccc;
}

/* .table table tr:last-child td, .table table tr:last-child th{
	border-bottom:0;
} */

.pop{
	position: fixed;
	width: 100%;
	height:100%;
	left:0;
	top:0;
	background-color:rgba(0,0,0,0.5);
	backdrop-filter: blur(10px);
	z-index: 999;

	justify-content: center;
	align-items: center;

	display: none;
}

.pop.on{
	display: flex;
}
.pop .white{
	width:350px;
	background-color:#fff;
	position: relative;
}


.popTable th div{
	text-align: center;
	height: 30px;
	background-color: #f2f2f2;
	box-shadow: inset 1px 1px 0px 0px #fff;
	width: 180px;
	padding: 10px 15px;
	border: 1px solid #e1e1e1;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pop .title{
	color: #333;
background: #f5f5f5;
	user-select: none;
font-weight: 600;
padding: 10px 15px;
border-bottom: 1px solid transparent;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
}
.popTable input,.popTable select{
			width: 180px;
	    height: 30px;
	    border: 1px solid #e1e1e1;
	    position: relative;
	    top: -1px;
			outline: none;
	}

.chk{
	width: 14px !important;
	height: 14px !important;
	cursor: pointer;
}

.ckB{
	width: 16px !important;
	height: 16px !important;
	cursor: pointer;
}
.ck01{margin-right: 10px; display: flex; align-items:end;}


.popTable{width: 100%;}
.popTable label{margin-right: 10px;}
.popTable th{
	padding: 10px;
}
.popTable td{
	display: flex;
  align-items: center;
}
.popTable td select{
	margin-right:10px;
}

.pointSel{
	margin: 0 10px;
}
.pop .body{
	padding:10px;
}

.close{
	cursor:pointer;
	position: absolute;
	right:10px;
	top:10px;
}


.mar-10t{
	margin-top:10px;
}
.mar-20t{
	margin-top:20px;
}
.datePicker{
	display: flex;
	align-content: center;
}
.datePicker input{
	border: 1px solid #e1e1e1;
	outline:none;
}
.datePicker div{
	/* border: 1px solid #e1e1e1;
	background-color:#f7f7f7; */
	padding:0 10px ;
	display: flex;
	align-items: center;
}

.search{
	padding:0 !important;
	margin-left: 10px;
}
.search button{
	text-align: center;
	height: 30px;
	background-color: #f2f2f2;
	box-shadow: inset 1px 1px 0px 0px #fff;
	width: 110px;
	padding: 10px 15px;
	border: 1px solid #e1e1e1;
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.find_btn{
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
}
.f_btn01{
	color: #fff;
	background-color: #333;
	border: 1px solid #333;
	font-size: 14px;
	padding: 8px 10px;
	width: 100px;
	margin-top: 50px;
}
.f_btn02{
	color: #777;
	background-color: rgba(0,0,0,0);
	border: 1px solid #777;
	font-size: 14px;
	padding: 8px 10px;
	width: 100px;
}

.right select{
	width: 150px;
	height: 30px;
	border: 1px solid #e1e1e1;
	position: relative;
	top: -1px;
}

.acc_info{display: flex; align-items: center;}

.acc_info select.time{
	width: 80px;
  height: 30px;
  border: 1px solid #e1e1e1;
	position: relative;
	top: -1px;
}

.acc_info select{
	width: 150px;
  height: 30px;
  border: 1px solid #e1e1e1;
	position: relative;
	top: -1px;
}

.popTable input.full_text{
	width: 450px !important;
  height: 30px !important;
  border: 1px solid #e1e1e1 !important;
}

.adminTable, .adminTable3{
  width: 100%;
  border-collapse: collapse;
	margin-bottom: 30px;

}
.adminTable th{
  background-color:#f2f2f2;
  padding: 10px;
}

.adminTable3 th{
  background-color:#f2f2f2;
  padding: 10px;
	font-size: 14px;
	line-height: 20px;
}

.adminTable td, .adminTable3 td{
  padding: 10px;
  text-align: left;
  border: 1px solid #e1e1e1;
  border-right: 0;
  border-left:0;
	font-size: 14px;
}
.adminTable td a, .adminTable3 td a{
	font-size: 14px;
	color: #333;
}

.adminTable2{
  width: 100%;
  border-collapse: collapse;

}
.adminTable2 th{
  background-color:#f2f2f2;
  padding: 10px;
	border: 1px solid #e1e1e1;
	vertical-align: middle;
	font-weight: 500;
}
.adminTable2 td{
  padding: 10px;
  text-align: center;
  border: 1px solid #e1e1e1;

}
.adminTable2 td a{
	font-size: 14px;
	color: #333;
}
/* .adminTable td:nth-child(3){
  padding: 10px;
  text-align: left;
} */
.right{
	text-align: right !important;
}
.center{
	text-align: center;
}
.left{
	text-align: left !important;
}
.common-del {
  padding: 0.5% 2%;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  color: #375b85;
  margin-top: 2%;
	cursor: pointer;
}
.common-btn {
  padding: 0.5% 2%;
  background-color: #375b85;
  border: 1px solid #375b85;
  color: #fff;
  margin-top: 2%;
}

.adminTable th,.adminTable td{
	vertical-align: middle;
	text-align: center;

}

.adminTable3 th,.adminTable3 td{
	vertical-align: middle;
	text-align: center;

}

.adminTable input[type="text"], .adminTable3 input[type="text"]{
  width: 100%;
	height: 30px;
	border: 1px solid #e1e1e1;
}
.adminTable textarea, .adminTable3 textarea{
  width: 100%;
	height: 300px;
	resize: none;
	border: 1px solid #e1e1e1;
	float: left;
}

.num , .num_on{
	display: inline-block;
	font-size:0;
}
.num_on a{
	font-size:12px;
	color:#838383;
}
.num a{
	font-size:12px;
	color:#222;
}

.pageing{margin-top: 20px;}

.add_b2 {
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #333;
    box-sizing: border-box;
    height: 32px;
    width: 70px;
    border-radius: 5px;
    margin-top: 5px;
}

.btnRemove, .btnRemove2 {
    float: left;
    background-color: #636363;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #636363;
    color: #fff;
    box-sizing: border-box;
    height: 32px;
    width: 70px;
    border-radius: 5px;
    margin-top: 5px;
		margin-left:10px;
}

.disF{
	display:flex;align-items:center;
}

.fix{
  color: #f00 !important;
	font-size: 14px;
}

.Thumb {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.adminTable td p, .adminTable3 td p{
	font-size: 14px;
	/* color: #f00; */
	border: 1px solid #e1e1e1;
	padding: 10px 5px;
	box-sizing: border-box;
	margin: 10px 0;
}

.vipDiv{
	display: none;
}

.vipDiv.view{
	display: block;
}

.f_btn03{
	color: #fff;
	background-color: #333;
	border: 1px solid #333;
	font-size: 14px;
	padding: 8px 10px;
	width: 100px;
	margin: 10px;
}

.table2{
	height: 200px;
	overflow-y:scroll;
	overflow-x:scroll;
	border:1px solid #ccc;
	margin: 0 auto;
	width: 98%;
	background-color:#f2f2f2;
}
.table2 table{
	table-layout: fixed;
	border-collapse: separate;
  border-spacing: 0;
  border: 0 none;
  width: 100%;
  background-color: #f2f2f2;
	border-bottom:1px solid #e1e1e1;
}
.table2 table tr{
	background-color:#d7d7d7;
}

.table2 table th{
	position: relative;
	overflow: hidden;
	background-color: #fff;
	background-image: -webkit-linear-gradient(top, #fff,#F0F0F0);
	background-image: linear-gradient(to bottom,#fff,#F0F0F0);
	border: 0px none;
	border-bottom: 1px solid #ccc;
	color: #222;
	text-align: center;
	padding:10px 0;
	border-right: 1px solid #ccc;
	vertical-align: middle;
}

.table2 table td{
	position: relative;
	overflow: hidden;
	background-color: #fff;
	border: 0px none;
	border-bottom: 1px solid #ccc;
	color: #222;
	text-align: center;
	padding:10px 0;
	font-size: 14px;
	border-right: 1px solid #ccc;
}

/*팝업*/
.pop_pad{
	padding: 0 2%;
	width: 430px;
}
.search_box{
	width: 100%;
	height: 30px;
	border:1px solid #808080;
	border-radius: 5px;
	overflow: hidden;
	padding: 0 5px;
}
.button_div {
    width: 50%;
    float: left;
}
.search_div{
	width: 26%;
	height: 25px;
	border: 1px solid #808080;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 2%;
	float: right;
}
.search{
	border: 0;
	width: 282px;
	height: 100%;
	float: left;
	outline: inherit;
}
.saerch_input{
	border: 0;
	width: 282px;
	height: 100%;
	float: left;
	outline: inherit;
}
.search_btn2{
	width: 25px;
	height: 100%;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: center;
	border: 0;
	float: right;
}
.button_class{
	border-radius: 5px;
border: 1px solid #0083f2;
background-color: #0083f2;
color: #fff;
    padding: 1% 10%;
}
.scroll-height{
	height: 400px;
	    overflow-y: scroll;
	    overflow-x: scroll;
	    margin: 10px 0;
			border: 1px solid #e1e1e1;
}
.scroll-height .common-table{
	font-size: 14px;
	padding: 10px;
}
.pop-btn{
	padding: 1% 10%;
	background-color:#375b85;
	border: 1px solid #375b85;
	color:#fff;
	margin-top:2%;
	border-radius: 10px;
}
.return{
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 2%;
	margin-bottom: 2%;
	text-align: right;
	cursor: pointer;
}
.border-box{
	padding: 2%;
	margin-right: 2%;
	border: 1px solid #e1e1e1;
	height: 360px;
	overflow-y: scroll;
}
[id^=myModal] .fl_r{
width: 50%;
}
.small-pop{
	font-size:12px;
	color:#d7d7d7;
}

.fl_l{
	float: left;
}
.fl_r{
	float: right;
}


.scroll-height .common-table {
    font-size: 14px;
    padding: 10px;
}
.common-table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
}
.common-table th {
    background-color: #afafaf;
    color: #fff;
    padding: 5px 5px;
		font-weight: 400;
		cursor: pointer;
}

.common-table td {
    border: 1px solid #d7d7d7;
    color: #000;
    vertical-align: middle;
    text-align: center;
    padding: 5px 5px;
		cursor: pointer;
}

.cp_btn{
	padding: 2px 5px;
	border: 0;
	background-color: #111;
	width: 80px;
	color: #ffff;
	font-size: 14px;
	border-radius: 3px;
	cursor: pointer;
}

.ok_btn{
	border: 0;
	background-color: #1a1a1a;
	color: #fff;
	padding: 10px 10px;
	width: 30%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 20px;
	cursor: pointer;
	font-size:14px;
}


textarea.input_b1{
  border:0;
	resize: none;
	outline: none;
}

.won_text{font-size: 14px; margin-left: 10px;}

.menu{
	color:#fff;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 5% 0 3%;
}
.menu > li {
	width: 33%;
}
.menu > li  > a{
	text-decoration: none;
	color:#fff;
	display: inline-block;
	width: 100%;
	padding: 15px 0;
}

.on{
	background-color:#bb9477;
	color:#fff;
	display: inline-block;
	font-size:14px;
}
.off{
	background-color:#ababab;
	color:#fff;
	display: inline-block;
	font-size:14px;
}

.adminTable select, .adminTable3 select{
	width: 200px;
  height: 30px;
	border: 1px solid #e1e1e1;
 	position: relative;
	top: -1px;
}

.poinTX{margin: 0 10px;}
.popTable input::placeholder{
	text-align:right;
	padding: 0 5px;
}

.countBox{
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.count_text{
	text-align: left;
}

.count_text li{
	font-size: 16px;
	margin: 5px 0;
}

.bold{
	font-weight: bold !important;
	font-size: 26px !important;
}

.on .countBox i{
	background-color:#fff;;
	color:#bb9477;
	border-radius: 50px;
	font-size: 20px;
	margin-right: 15px;
	padding: 16px;
}

.off .countBox i{
	background-color:#fff;
	color:#ababab;
	border-radius: 50px;
	font-size: 20px;
	margin-right: 15px;
	padding: 16px;
}

.menu2{
	color:#fff;
	list-style: none;
	text-align: center;
	padding: 0;
	margin: 5% 0 3%;
}
.menu2 > li {
	width: 24.7%;
}
.menu2 > li  > a{
	text-decoration: none;
	color:#fff;
	display: inline-block;
	width: 100%;
	padding: 15px 0;
}
#donutchart{
	float:left;
	width: 50%;
}
#donutchart2{
	float:left;
	width: 50%;
}

#donutchart svg g:nth-child(4),
#donutchart2 svg g:nth-child(4){
	display: none !important;
}

.text{
	padding: 0 10px;
    display: flex;
    align-items: center;
}

.p_option input[type='text']{
	width: 300px;
	font-size: 14px;
}

tr.click{
	cursor: pointer;
}

.select{
	float: right;
	width: 100px;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
	background-color: #fff;
	height: 35px;
	margin-bottom: 15px;
	padding-left: 5px;
}

input[type='date']{
	border: 1px solid #e1e1e1;
}

td.red{
	color: #f00;
}

.content_box{
	font-size: 16px;
    border: 1px solid #e1e1e1;
    padding: 10px 5px;
    box-sizing: border-box;
		height: 100px;
		text-align: left;

}

.p_box{
	font-size: 16px;
    /* color: #f00; */
    border: 1px solid #e1e1e1;
    padding: 10px 5px;
    box-sizing: border-box;
    margin: 10px 0;

}

.box {
    width: 100%;
    margin: 70px 0 30px;

}
.box img{
	max-width: 100%;
}

.box ul {
    overflow: hidden;
}

.box li {
    width: 31%;
		height: 300px;
    margin-right: 2%;
    float: left;
		border: 1px solid #ddd;
		cursor: pointer;
		position: relative;
		overflow: hidden;
}

.box_img{
	width: 100%;
	height: 300px;
	/* background-image: url("../image/img_test.jpg"); */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.box_img2{
	width: 100%;
	height: 300px;
	background-image: url("../image/story_img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.box li .ck{
	position: absolute;
	top: 10px;
	left:10px;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.file_tab{
	height: 50px;
}
.file_tab li{
	float: left;
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	margin-right: 10px;
}
.file_tab li a{
	display: block;
	background: #f2f2f2;
	color: #3e454c;
}
.file_tab li a.tab_on{
	background: #bb9477;
	color: #fff;
}
